# Firebase Configuration (Vercel/Netlify Paneline bunları ekleyin)
VITE_FIREBASE_PROJECT_ID=melisquiz
VITE_FIREBASE_APP_ID=1:126395269252:web:379c5ad4997d6f9147c2d1
VITE_FIREBASE_API_KEY=AIzaSyD_b5qKAqyVJtWcKqKkH-yoMSFwISz5dPQ
VITE_FIREBASE_AUTH_DOMAIN=melisquiz.firebaseapp.com
VITE_FIREBASE_STORAGE_BUCKET=melisquiz.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=126395269252
VITE_FIREBASE_MEASUREMENT_ID=G-Z1PVJV2SZM
VITE_FIREBASE_FIRESTORE_DATABASE_ID=(default)
